body {
  font-size: calc(10px + 1vw);
  line-height: calc(1.1em + 0.5vw);
}

#name {
  box-sizing:unset;
}

#questions-form {
  display: none;
}

.questions {
  display: none;
}

#name-label {
  text-align: center;
}

.radio-questions {
  margin-bottom: calc(4px + 1vw);
  font-size: calc(14px + 1vw);
  border-bottom: 1px black solid;
  border-top: 1px black solid;
  padding: calc(4px + 1vw);
}

.custom-radio {
  align-items: 1px;
}

#submitDiv {
  margin-bottom: 10px;
  display: none;
}

#resultDiv {
  display: none;
}

#retryDiv {
  display: none;
}

